.hidden {
    display: none;
}
.actions {
    padding-top: 10px;
}
.actions * {
    margin-right: 5px;
}
.table-fermat {
    max-width: 90%;
    margin: auto;
}
.navbar-fermat {
    max-width: 100%;
    background-image: linear-gradient(to bottom, #59D1BD 0, #009A80 100%);
}
th {
    color: #DA332A;
}
.navbar-brand {
    color: #fff;
}
.brand-img {
    margin-top: -5px;
}
.brand {
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}
.shared {}
.shared * {
    display: inline-block;
}
.buttons {
    margin-top: 25px;
}
#spinner {
    display: block;
    margin: 0 auto;
}
#perm-form {
    display: block;
    max-width: 80%;
    margin: 0 auto;
}
#perm-form h3 {
    margin-top: 30px;
}
.perm-group {
    margin-left: 20px;
}
.perm-group * {
    display: inline;
    margin-right: 10px;
}
