.idea/
**/.idea/
secret.json
api-server/node_modules/
api-server/deploy.json
api-server/build/secret.json
api-server/secret.json
api-server/FermatBitcoin.pem
api-server/**/node_modules/
api-server/cache/production/fermat/
api-server/cache/production/files/
api-server/cache/development/fermat/
api-server/cache/development/files/
api-server/cache/production/filecache.json
api-server/cache/development/filecache.json
clair/main.js
sh.exe.stackdump