html, body {
				height: 100%;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
			}

body {
    background-color: #ffffff;
    margin: 0;
    font-family: Helvetica, sans-serif;;
    overflow: hidden;
}

a {
    color: #000000;
}

#menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

button:focus {
    outline: 0 !important;
}

button:active {
    color: #000000;
    border: none;
    background-color: rgba(127,127,127,0.75);
}

.backButton {
    position : fixed;
    top : 10px;
    left : 10px;
    z-index: 10;
}

#legendButton {
    color: rgba(127,127,127,1);
    background: transparent;
    outline: 1px solid rgba(127,255,255,0.75);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
    position : fixed;
    top : 10px;
    right : 10px;
    z-index: 15;
}

#legendButton:active {
  color: #000000;
 background-color: rgba(127,127,127,0.75);  
}

#legendButton:hover,.backButton:hover, .actionButton:hover  {
    background-color: rgba(127,127,127,0.5);
}

#legend {
    position : fixed;
    top : 40px;
    right : 10px;
    z-index: 10;
    
}

.backButton, .actionButton, #legend {
    color: rgba(127,127,127,1);
    background: transparent;
    outline: 1px solid rgba(127,255,255,0.75);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
}

.backButton {
    position : fixed;
    top : 10px;
    left : 10px;
    z-index: 10;
}

.colorBox {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: relative;
}

@font-face {
    font-family: Canaro;
    src: url('fonts/canaro.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}