img {
    transition: opacity 0.5s;
}
span {
    transition: color 0.5s;
}
th {
    color: #DA332A;
}

[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}

#export-png{
    float:left;
    clear:both;
    padding: 6px 12px;
    margin-right: 10px;
    margin-bottom: 8px;
    text-decoration:none;
    color:#333;
}

.brand {
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}
.brand-img {
    margin-top: -5px;
}
.container {
    margin-top: 1em;
}
.filter {
    text-align: left;
}
.navbar-brand {
    color: #fff;
}
.navbar-fermat {
    max-width: 100%;
    background-image: linear-gradient(to bottom, #59D1BD 0, #009A80 100%);
}
.profile-pic {
    max-height: 150px;
    max-width: 150px;
}
.row {
    margin-bottom: 20px;
}
.map:-moz-full-screen {
    height: 100%;
}
.map:-webkit-full-screen {
    height: 100%;
}
.map:-ms-fullscreen {
    height: 100%;
}
.map:fullscreen {
    height: 100%;
}
.ol-rotate {
top: 3em;
}
img.disabled {
    opacity: 0.5;
}
span.disabled {
    color: gray;
}

.filter img {
    width: 30px;
    height: 30px;
}
.filter td {
    cursor: pointer;
}
.navbar button {
    margin-right: 10px;
}

#map {
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}

.gm-style-iw {
}

/*
.gm-style-iw div {
    overflow: hidden !important;
    min-height: 2500px;
}*/

.ol-popup {
    font-family: Roboto,Arial,sans-serif;
    min-width: 15em;
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

.controlDiv {
    top : 62%;
    left: .5em;
}

