html, body {
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #ffffff;
    margin: 0;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

a {
    color: #000000;
}

#menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

button:active {
    color: #000000;
    border: none;
    background-color: rgba(127,127,127,0.75);
}

.backButton {
    position : fixed;
    top : 10px;
    left : 10px;
    z-index: 10;
}

#welcome, #navigation, #zoom, #slide, #return {
    position: relative; 
    z-index: 10;  
    font: 15px arial; 
    font-weight: bold; 
    border-radius: 20px;   
    color: #909090;
    display: block;
    margin: auto;
    margin-top: 0px;
    margin-bottom: -35px;
    display: none;
    opacity: 0;
}

#login, #logout {
    color: rgba(127,127,127,1);
    background: transparent;
    outline: 1px solid rgba(127,255,255,0.75);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
    position : fixed;
    top : 10px;
    right : 10px;
    z-index: 15;
}

#login:active, #logout:active {
    color: #000000;
    background-color: rgba(127,127,127,0.75);  
}

#login:hover, #logout:hover,.backButton:hover, .actionButton:hover  {
    background-color: rgba(127,127,127,0.5);
}

#legend {
    position : fixed;
    top : 40px;
    right : 10px;
    z-index: 10;
}

#containerLogin{
    position: fixed;
    z-index: 1;
    right: 40px;
    display: block;
}

.backButton, .actionButton, #legend {
    color: rgba(127,127,127,1);
    background: transparent;
    outline: 1px solid rgba(127,255,255,0.75);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
}



.colorBox {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: relative;
}

/**     START
* @author Ricardo Delgado.
* CSS FOR FERMAT EDIT FIELD. 
*/

#div-Edit1 {
    
    top: 0.5%;
    position: relative;
    width: 100%;
    height: 5%;

    display:box;
    box-pack:center;
    box-align:center;
    
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    
}

#div-Edit2 {
    
    position:relative;
    display: inline-block;
    width:100%;
    height: 6%;

    display:box;
    box-pack:center;
    box-align:center;
    
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    
}

#select-layer {
    
    width:18.3%;
    
}

label.edit-Fermat {
    
    margin-left: 5px;
    
}

select.edit-Fermat {
    
    -moz-appearance: none;
    -webkit-appearance:none;
    
    background: url(images/select_arrow.png) no-repeat right;
    border: 1px solid rgb(15, 184, 157);
    color: rgba(127,127,127,1);
    
}

input.edit-Fermat {
    
    border: 1px solid rgb(15, 184, 157);
    color: rgba(127,127,127,1);
    
}

/** 
END
*/

/**     START
* @author Ricardo Delgado.
* CSS FOR THE BOOK. 
*/ 
.flipbook-viewport{
    position:absolute;
    top:50%;
    left:50%;
    margin:auto;
}


.flipbook{
    -webkit-transition: -webkit-transform 3s;
    -moz-transition: -moz-transform 3s;
    -ms-transition: -ms-transform 3s;
    -o-transition: -o-transform 3s;
    transition: transform 3s;
}


.flipbook .shadow{
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;

    -webkit-box-shadow:0 0 10px #999;
    -moz-box-shadow:0 0 10px #999;
    -ms-box-shadow:0 0 10px #999;
    -o-box-shadow:0 0 10px #999;
    box-shadow:0 0 10px #999;
}

.flipbook .page{
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook .hard{
    background-color:white;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -ms-box-shadow:none;
    box-shadow:none;
}
#p1, #p2, #pn, #pf{
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.flipbook .own-size{
    background-color:white;
    overflow:hidden;
}

.flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
}

.flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #fff), color-stop(1, #cacaca));
    background-image:-webkit-linear-gradient(right, #fff 95%, #cacaca 100%);
    background-image:-moz-linear-gradient(right, #fff 95%, #cacaca 100%);
    background-image:-ms-linear-gradient(right, #fff 95%, #cacaca 100%);
    background-image:-o-linear-gradient(right, #fff 95%, #cacaca 100%);
    background-image:linear-gradient(right, #fff 95%, #cacaca 100%);
}

.table-contents{
    margin:0px auto;
    width:100%;
    padding: 0px;
    position: relative;
    left:0px;
}

#contents1, #contents2{
    position:absolute;
    left:45%;
    color:black;
    float:top;
    padding: 0px;
    margin: 0px;
}

.table-contents ul{
    padding-top:12%;
}
.table-contents li{
    list-style:none;
    left:50%;
}

.table-contents span{
    float:right;
}

.table-contents a{
    float:left;
    width:100%;
    clear:both;
    text-decoration:none;
    color:#333;
    margin:0px auto;
}

.table-contents a:hover{
    background:#CAD1EE;
    float:left;
    width:100%;
    clear:both;
    text-decoration:none;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    -ms-border-radius:10px;
    border-radius:10px;
}

/**     
END
*/ 

@font-face {
    font-family: Canaro;
    src: url('fonts/canaro.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

/**     START
* @author Daril Rodriguez.
* CSS FOR FERMAT EDIT MODAL AUTHORS.
*/

#hidden-area {
    
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    
}

#modal-devs {
    
    z-index: 12;
    width: 455px;
    padding: 5px;
    height: 372px;
    display: none;
    position: fixed;
    background: #00b498;
        
}

#modal-devs[data-state="hidden"] {
    
    opacity: 0;
    display: none;
    
}

#modal-devs[data-state="show"] {
    
    opacity: 1;
    display: block;
    
}

#modal-devs #a {
    
    width: 49%;
    float: left;
    margin-right: 2%;
    
}

#modal-devs #a #finder {
    
    float: left;
    width: 100%;
    height: 43px;
    padding-top: 10px;
    
}

#modal-devs #a #finder input[type="text"] {
    
    width: 76%;
    border: 0px;
    float: left;
    height: 29px;
    margin-left: 5px;
    background: #bbebe3;
    
}

#modal-devs #a #finder input[type="button"] {
    
    width: 15%;
    float: left;
    border: 0px;
    height: 32px;
    padding: 19px;
    margin-top: -3px; 
    margin-left: 5px;
    border-radius: 30px;
    background:  no-repeat;
    background-size: 22px 22px;
    background-position: center;
    background-image: url(images/modal/finder.png);
    
    transition: .5s all ease 0s;
    -moz-transition: .5s all ease 0s;
    -webkit-transition: .5s all ease 0s;
}

#modal-devs #a #finder input[type="button"]:hover {
    
    cursor: pointer;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-image: url(images/modal/finder.png);
    
}

#modal-devs #a #list {
    
    width: 99%;
    float: left;
    height: 317px;
    overflow: auto;
    background: #bbebe3;
    
}

#modal-devs .list-content {
    
    width: 100%;
    float: left;
    margin-right: 2px;
    min-height: 100.5%;
    background-color: #00000000;
    
}

#modal-devs .dev-fermat-edit {
	
	padding: 2px;
	height: 40px;
	margin: 2px;
    overflow: hidden;
	background: rgba(0, 0, 0, 0.2);
	
    transition: .5s all ease 0s;
    -moz-transition: .5s all ease 0s;
    -webkit-transition: .5s all ease 0s;
    
}

#modal-devs .dev-fermat-edit div img {

	float: left;
	width: 20%;

}

#modal-devs .dev-fermat-edit div label {

	width: 59%;
	float: left;
	height: 100%;
	margin-left: 2px;
	font-family: sans-serif;
	font-size: 11px;
	
}

#modal-devs .dev-fermat-edit div .add_btn {
	
	border: 0;
	width: 19%;
	float: left;
	height: 39px;
	cursor: pointer;
    border-radius: 39px;
	background: no-repeat;
    background-size: 50% ;
	background-position: center;
	background-image: url(images/modal/plus.png);
    
    transition: .5s all ease 0s;
    -moz-transition: .5s all ease 0s;
    -webkit-transition: .5s all ease 0s;

}

#modal-devs .dev-fermat-edit div .add_btn:hover {
 
    cursor: pointer;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
}

#modal-devs #b {
    
    width: 49%;
    float: left;
    height: 99.5%;
    background: #00000000;
    
}

#modal-devs #b #list {
    
    width: 99%;
    float: left;
    height: 94%;
    overflow: auto;
    background: #bbebe3;
    
}

#modal-devs .dev-fermat-edit div .rem_btn {
	
	border: 0;
	width: 19%;
	float: left;
	height: 39px;
	cursor: pointer;
    border-radius: 39px;
	background: no-repeat;
    background-size: 50% ;
	background-position: center;
	background-image: url(images/modal/minus.png);
    
    transition: .5s all ease 0s;
    -moz-transition: .5s all ease 0s;
    -webkit-transition: .5s all ease 0s;
    
}

#modal-devs .dev-fermat-edit div .rem_btn:hover {
 
    cursor: pointer;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
}

#modal-devs #b #buttons {
    
    height: 5%;
    width: 100%;
    
}

#modal-devs #b #buttons button {
    
    border: 0;
    width: 49%;
    padding: 1.5px;
    cursor: pointer;
    font-size: 12px;
    margin: 2px 0px 0 0;
    font-family: sans-serif;
    
}

#modal-devs #b .dev-fermat-edit div img:hover {
    
    cursor: pointer;
	
}

#modal-devs .dev-fermat-edit[data-expand="true"] {
    
    height: 120px;
    
}

#modal-devs .dev-fermat-edit .dev-data {
    
    padding-top: 30px;
	font-family: sans-serif;
	font-size: 12px;
    
}

#modal-devs .dev-fermat-edit .dev-data input[type="text"]{
    
    border: 0;
    margin: 2px;
    border-radius: 0;
    
}

#modal-devs .dev-fermat-edit .dev-data select{
    
    border: 0;
    margin: 2px;
    width: 139px;
    border-radius: 0;
    
}

/**
* END
*/

/**     START
* @author Daril Rodriguez.
* CSS FOR FERMAT EDIT MODAL DESCRIPTION.
*/

#modal-desc {
    opacity: 0;
    z-index: 12;
    width: 45.5%;
    padding: 8px;
    background: #FFF;
    padding-bottom: 4px;
    
    position: absolute;
    left: calc(50% - 22.7%);
}  

#modal-desc[data-state="hidden"] {
    opacity: 0;
    display: none;
}

#modal-desc[data-state="show"] {
    opacity: 1;
    display: block;
}

#modal-desc label {
    font-size: 20px;
    font-family: sans-serif;
}

#modal-desc textarea {
    border: 1px solid rgb(153, 153, 204);
    border-radius: 5px;
    width: 100%;
    resize: none;
    font-size: 18px;
    margin-top: 5px;
    background: #FFF;
    font-family: sans-serif;
}

#modal-desc div {
    width: 100%;
}

#modal-desc div button{
    float: right;
    border: 0;
    margin: 0;
    padding: 0;
    width: 49.5%;
    cursor: pointer;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #FFF;
    font-family: sans-serif;
    border: 1px solid rgb(153, 153, 204);
    border-radius: 5px;
}

#modal-desc div #modal-desc-accept {
    
    float: left;
}

#modal-desc div button:active {
    color: #000000;
    background-color: #eef;
    
}

#modal-desc div button:hover {
    cursor: pointer;
    background: #eef;
}

/**
* END
*/

/**     START
* @author Daril Rodriguez.
* CSS FOR WORKFLOW HEADER FIELDS.
*/

#workflow-header {
    
    top: 0.5%;
    position: relative;
    width: 100%;
    height: 5%;

    display:box;
    box-pack:center;
    box-align:center;
    
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

#workflow-header label {
    font-size: 1.5vmax;
    font-family: sans-serif;
}

/**
* END
*/

/**     START
* @author Daril Rodriguez.
* CSS FOR GUIDE MODAL.
*/

#modal-help-div {
    z-index: 12;
    width: 100%;
    height: 100%;
    border: 0px;
    position: absolute;
}

#modal-help-div[data-state="show"] {
    display: block;
}

#modal-help-div[data-state="hidden"] {
    display: none;
}

#modal-help {
    z-index: 12;
    margin: auto;
    width: 65%;
    height: 59%;
    padding: 2px;
    font-family: uppercase;
}

#modal-close-shadow {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

#modal-close-div {
    width: 100%;
    height: 6%;
}

#modal-help-close {
    float: right;
    border: 0;
    height: 50%;
    background: url(images/guide/close.png) no-repeat;
}

#modal-help-close:hover {
    cursor: pointer;
}

#modal-close-icon {
    background: #fff;
    height: 25%;
}

#modal-close-icon img {
    width: 10%;
    margin-left: 5%;
    background: #f99;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6) ;
}

#modal-help-text {
    background: #fff;
    overflow: hidden;
    height: 58%;
}

#modal-help-text ul {
    margin: 0;
    padding-left: 11%;
    height: 100%;
    width: 100%;
}

#modal-help-text ul li {
    padding-bottom: 0.1%;
    color: #fbb;
}

#modal-help-text ul li p {
    color: #777;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3vmax;
}

/**
* END
*/

/**     START
* @author Daril Rodriguez.
* CSS FOR WORKFLOW EDIT STEP MODAL.
*/


#step-modal * {
    font-family: sans-serif;
    font-size: 14px;
}

#step-modal {
    position: absolute;
    overflow: hidden;
    width: 30%;
    height: 48%;
    top: 8%;
    left: 37.5%;
    background: #EEE;
}

#step-modal-canvas {
    position: absolute;
    border: 1px solid #99C;
    border-radius: 5px;
    width: 90%;
    height: 18.5%;
    left: 5%;
    top: 6%
}

#step-modal-title {
    position: absolute;
    border: 1px solid #99C;
    border-radius: 5px;
    width: 90%;
    height: 9.5%;
    left: 5%;
    top: 29%;
}

#step-modal-title:focus {
    border: 1px solid #77bae8;
}

#step-modal-desc {
    position: absolute;
    border: 1px solid #99C;
    border-radius: 5px;
    width: 90%;
    resize: none;
    height: 39%;
    left: 5%;
    top: 42.5%;
}

#step-modal-desc:focus {
    border: 1px solid #77bae8;
}


#step-modal-cancel {
    position: absolute;
    border: 1px solid rgb(153, 153, 204);
    border-radius: 5px;
    width: 45%;
    resize: none;
    height: 10%;
    left: 51%;
    top: 86%;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

#step-modal-accept {
    position: absolute;
    border: 1px solid rgb(153, 153, 204);
    border-radius: 5px;
    width: 45%;
    resize: none;
    height: 10%;
    left: 5%;
    top: 86%;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

#step-modal-cancel:hover, #step-modal-accept:hover {
    cursor: pointer;
    background: #eef;
}
/**
* END
*/

#steps-list {
  z-index: 11;
  position: fixed;
  left: 0px;
  background: #eee;
  width: 200px;
  height: 100%;
  transition: 1s all ease 0s;
}

#steps-list-content {
  display: inline-block;
  float: left;
  width: 190px;
  height: 100%;
  padding-top: 5px;
  background: #eee;
  overflow: scroll;
  overflow-x: hidden;
}

#steps-list-expand {
  display: inline-block;
  float: left;
  width: 10px;
  height: 100%;
  background: #e4e4e4;
}

#steps-list-expand:hover {
  background: #dadada;
  cursor: pointer;
}

.steps-list-step {
  float: left;
  margin: 2.5px;
  width: 97%;
  height: 100px;
  background: #fff;
}

.steps-list-step:hover {
  cursor: pointer;
  background: #fbfbfb;
}

#steps-expand {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #000;
  padding: 0;
  border-radius: 5px;
  height: 20px;
  background: #000;
  margin-left: 3px;
  width: 4px;
}

#steps-expand:hover {
  cursor: pointer;
}

#steps-list[data-state="hidden"] {
  left: -190px;
  transition: 1s all ease 0s;
}

#steps-list[data-state="show"] {
  left: 0px;
  transition: 1s all ease 0s;
}

.steps-button-close {
	position: absolute;
	right: 0;
	width: 20px;
	height: 20px;
	border: 0;
	border-radius: 5px;
	background: #F04F4F;
	background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images/workflow/add_btn.png");
    transform: rotate(45deg);
	transition: 1s all ease-in 0s;
}

.steps-button-close:hover {
	cursor: pointer;
    transform: rotate(-45deg);
}

.steps-div-close {
	position: relative;
	float: left;
	width: 100%;
}

.steps-alert {
  position: absolute;
  right: 0;
  top: 40px;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 5px;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

#workflow-mode {
    margin-left: 37.5%;
    position: absolute;
    width: 25%;
    left: 0px;
    top: 0px;
}

#header-container {
    width: 100%;
}

#header-back {
    float: left;
    width: 15.2%;
    height: 100%;
    border: 0px;
    background: url("images/workflow/header-left.png");
    background-size: 100%;
    cursor: pointer;
}

#header-text {
    float: left;
    width: 58.6%;
    height: 100%;
    background: url("images/workflow/header-center.png");
    background-size: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 64px;  
}

#header-next {
    float: left;
    width: 15.2%;
    height: 100%;
    border: 0px;
    background: url("images/workflow/header-right.png");
    background-size: 100%;
    cursor: pointer;
}
#header-back:focus, #header-next:focus{
    outline:0px;
}
#header-back:hover, #header-next:hover {
   opacity: 0.5;
}

/**
 *        START
 * @author Daril Rodriguez
 *
 */

#modal-call-type {
    position: relative;
    background: #555;
    padding: 3px;
    width: 131px;
}

#modal-call-select {
    border: 1px solid rgb(58, 58, 58);
    width: 130px;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(107, 107, 107, 1) 0%, rgba(88, 88, 88, 1) 100%);
}

#modal-call-select select{
    border: 0;
    width: 128px;
    font-size: 15px;
    float: left;
    color: #FFF;
    border: none;
    padding: 3.5px;
    appearance: none;
    padding-left: 0px;
    -moz-appearance: none;
    font-family: sans-serif;
    -webkit-appearance: none;
    background: transparent url("images/workflow/arrow.png") right center no-repeat;
    background-size: 7%;
    background-position: 118px;
}

#modal-call-select option{
    background: #555;
}

#modal-solap-a {
    position: absolute;
    left: 70px;
    height: 10px;
    width: 7px;
    background: linear-gradient( 50deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 1) 50%, #555 50%);
}

#modal-solap-b {
    position: absolute;
    left: 77px;
    height: 10px;
    width: 7px;
    background: linear-gradient( -50deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 1) 50%, #555 50%);
}

#step-error {
    padding-left: 5px;
    padding-top: 5px;
    border: 1px solid #F44;
    height: 9.5%;
    width: 90%;
    position: absolute;
    top: 14%;
    left: 5%;
    background: #FFF;
    font-size: 12px;
    transition: 1s all ease 0s;
    border-radius: 2px;
}

#step-error[data-state="hidden"] {
    opacity: 0;
    top: 18%;
}

#step-error[data-state="show"] {
    opacity: 1;
    top: 14%;
}

#part-a {
    width: 10px;
    height: 12px;
    margin-top: 5%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 40%, #E44 50%, #FFF 50%);
}

#part-b {
    width: 10px;
    height: 12px;
    margin-left: 10px;
    margin-top: -12px;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 40%, #E44 50%, #FFF 50%);
}

